body{
    font-family: 'Fira Sans', sans-serif;
    background-color: black;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

p {
    color: black;
    padding-top : 50px;
}


.contact-container{
    
    box-sizing: border-box;
    margin: 50px auto;
    text-align: center;
    color: white;   
}

.contact-info{
    width: 100%;
    padding-left: 700px;
    text-align: center; 

}

.contact-container-text{
    position:relative;
    margin-right: 70%;
    font-size: 130%;
}


.contact-form{
    position:relative;
    margin-left: 70%;
    font-size: 40px;
}




.lead {
     position:relative;
     left:0em;
}

.contact-description{
	position: relative;
    padding-left:5%;
    width:250%;
}

ul{
   list-style-type: none;
   color:black;
}
