body{
    font-family: 'Fira Sans', sans-serif;
   background-color: grey;
    color:black;


}




.contact-container{
    
    box-sizing: border-box;
    margin: 50px auto;
    padding: 8px;
    width: 70%; min-height: 100px;
    
}

ul{
   list-style-type: none;
   color:rgb( 254, 201, 0);
}
