.in-footer-color {
	background-color: black;
}

footer p {
	height: 5em;
	line-height: 5em;
	color: white;
	text-align: center;
}

p a {
	color: white;
}

.padding-right {
	padding-right: 0;
}

.padding-left {
	padding-left: 0;
}