body{
	font-family: 'Fira Sans', sans-serif;
	background-color: black;
}

.container{
	background-color: white;

}

.introduction{
	padding-top: 50px;
	font-size: 20px;
	color: black;
	text-align: justify;
	width: 50%;
	margin: auto;
}

.style{
	
	box-sizing: border-box;
	margin: 50px auto;
	padding: 8px;
	width: 70%; min-height: 100px;
	background-color: black;
}

.style p{

	color: white;
	text-align: justify;
	font-size: 18px;
}

.style h2{

	color: white;
	font-size: 30px;
	text-align: center;
}


